* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(223, 216, 216);
    color: #111;
    direction: rtl;
}

.offer {
    margin: 20px;
    padding: 18px;
    background: #111;
    color: white;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.gallery {
    padding: 5px 20px;
}

.main-image {
    width: 100%;
    max-width: 700px;
    margin: auto;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnails {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 15px;
}

.thumbnails img {
    width: 95px;
    height: 95px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #eee;
    cursor: pointer;
}
.old-price {
    text-decoration: line-through;
    color: #777;
    font-size: 20px;
    margin-left: 10px;
}

.new-price {
    color: #111;
    font-size: 28px;
    font-weight: bold;
}

.product-section {
    padding: 20px;
    max-width: 700px;
    margin: auto;
}

.product-section h2 {
    font-size: 30px;
    margin-bottom: 8px;
    text-align: center;
}

.product-price {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3 {
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 20px;
}

.colors {
    display: flex;
    gap: 12px;
}

.color {
    width: 150px;
    height: 60px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

.color.active {
    background: #0c1424;
    color: white;
    border-color: #0c1424;
}

.form-section input,
.form-section select {
    width: 100%;
    height: 60px;
    border: 2px solid #ddd;
    border-radius: 18px;
    padding: 0 20px;
    font-size: 18px;
    background: white;
}

.name-fields {
    display: flex;
    gap: 15px;
}

.name-fields input {
    width: 50%;
}

.delivery {
    display: flex;
    gap: 15px;
}

.delivery button {
    width: 50%;
    height: 110px;
    border-radius: 25px;
    border: 2px solid #ddd;
    background: white;
    font-size: 18px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.delivery button strong {
    font-size: 22px;
}

.delivery button.selected {
    background: #0c1424;
    color: white;
    border-color: #0c1424;
}

.summary {
    margin-top: 25px;
    padding: 20px;
    background: #111;
    color: white;
    border-radius: 20px;
    font-size: 18px;
}

.summary > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.summary hr {
    border: none;
    border-top: 1px solid #444;
}

.summary .total {
    font-size: 25px;
}

.order-button {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background: #d90000;
    color: white;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

.order-button:active {
    transform: scale(0.98);
}

@media (max-width: 600px) {

    .name-fields {
        gap: 10px;
    }

    .offer {
        font-size: 17px;
    }

    .main-image {
        height: 270px;
    }

    .delivery button {
        height: 100px;
    }

} 